@import '../../assets/styles/settings';

.navbar-item {
   width: 100%;

   .nav-wrapper2 {
      background-image: url('../../assets/images/Rectangle1.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: darken;
      background-color: rgb(0, 0, 0, 0.3);
      width: 100%;
      height: 350px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding: 20px 40px;


      .nav-links {
         width: 400px;

         a,
         button {
            @extend %link;
            text-decoration: none;
            cursor: pointer;
          }

          @media screen and (max-width:770px) {
            margin-right: 90px;
         }

         
      }
   }

   .travel-text {
      position: relative;
      bottom: 20px;
      left: 160px;
      width: 756px;
      height: 88px;
      color: snow;

      h2 {
         text-align: center;
         font-size: 72px;
         font-weight: 700;
         font-family: 'Montserrat';

         @media screen and (min-width: 590px) and (max-width: 810px) {
            font-size: 45px;
            text-align: left;
            position: absolute;
            right: 590px;
         }
      }
   }
}

.blog-container {
   width: 1920px;
   margin: 0 auto;
   background-color: lightgray;

   .small-text {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      height: 160px;
      background-color: white;
      border-radius: 10px 10px 0 0;

      .span {
         margin-bottom: 30px;
         padding: 10px 20px;
         border-bottom: 2px solid gray;

         &:hover {
            color: lightblue;
            border-bottom: 2px solid lightblue;
         }

         &:active {
            color: lightblue;
            border-bottom: 2px solid lightblue;
         }
      }

      @media screen and (min-width: 600px) and (max-width: 770px) {
         width: 70%;
         font-size: 10px;
      }



   }
   .blog-wrapper {
      width: 70%;
      margin: 0 auto;
      background-color: white;
      border-radius: 0 0 10px 10px;

      .input-btn {
         width: 100%;
         padding-bottom: 10%;
         display: flex;
         flex-direction: row;
         justify-content: center;

         img {
            width: 23px;
            position: relative;
            top: 5px;
            right: 50px;


            @media screen and (min-width: 1020px) and (max-width: 1090px) {
               position: relative;
               top: -75px;
               right: -120px;
            }

         }

         button {
            margin-top: 10px;
            @extend %info-btn;
            border-radius: 10px;
            margin-left: 5px;
            width: 233px;


            @media screen and (min-width: 600px) and (max-width: 770px) {
               width: 200px;
            }

         }

         input {
            width: 70%;
            border: none;
            border-radius: 7px;
            margin: 10px;
            padding: 15px;
            background-color: white;
            font-size: 15px;
            font-weight: 400;
            box-shadow: 1px 1px 5px lightgray;
         }


         @media screen and (min-width: 1020px) and (max-width: 1090px) {
            font-size: 5px;
            width: 100%;
         }


      }
      @media screen and (min-width: 590px) and (max-width: 770px) {
         font-size: 15px;
         width: 90%;
      }
   }

   .our-blogs {
      width: 70%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1.5fr 2.5fr;
      margin-bottom: 50px;

      .first-container {
         margin-top: 100px;

         .content {
            width: 100%;
            background-color: white;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr 2.3fr;
            margin: 20px 0;

            .text-content {
               padding: 30px;
            }

            button {
            @extend %info-btn;
            margin-top: 50px;
            }

         }

         h2 {
            margin: 30px;
            color: lightblue;
            font-size: 30px;
         }
      }

      .second-container {
         border-radius: 10px;
         width: 90%;
         margin: 120px auto;
         height: 1455px;
         padding: 40px;
         background-color: white;

      }

   }


   @media screen and (max-width: 1920px) {
      width: 100%;
   }


}

.burger-menu-wrapper {
   padding: 5px;
   display: flex;
   flex-direction: column;
   align-content: space-between;
   align-items: center;

   div {
      width: 100%;
      height: 5px;
      background-color: lightblue;
      border-radius: 5px;
      margin-top: 5px;
      transform-origin: left;
   }
}

.burger-menu-wrapper,
#burger-menu-toggler {
   width: 50px;
   height: 50px;
   border-radius: 10px;
   position: absolute;
   right: 40px;
   top: 15px;
   display: none;
   z-index: 11;
}

#burger-menu-toggler {
   opacity: 0;
   z-index: 12;
}

@media (max-width: $large-screen) {
   .nav-wrapper {
      .menu {
         padding: 0;
      }
   }
}

@media (max-width: 800px) {

   .burger-menu-wrapper,
   #burger-menu-toggler {
      display: flex;
   }

   .burger-menu-wrapper {
      &.opened {
         div {
            margin: 5px 0;
         }

         .middle {
            opacity: 0;
         }

         .top {
            transform: rotate(45deg);
         }

         .bottom {
            transform: rotate(-45deg);
         }
      }
   }


   .nav-links {
      width: 0;
      height: 500px;
      overflow: hidden;
      display: none;
      color: aqua;
   }

   #burger-menu-toggler:checked+.nav-wrapper2>.nav-links {
      width: 450px;
      position: relative;
      left: 65%;
      display: flex;
      flex-direction: column;
      padding: 50px;

      .nav-links {
         display: flex;
         flex-direction: column;

         button {
            text-align: right;
         }
      }

      * {
         margin-top: 10px;
      }
   }
}



@media (max-width: $small-screen) {
   #burger-menu-toggler:checked+.nav-wrapper>.menu {
      width: 100%;
   }
}

.footer {
   position: relative;
   bottom: 0;
}


.main-container {
   display: flex;
   position: relative;

   .first-con {
      width: 25%;
      height: 1000px;
      padding-right: 20%;
      position: relative;
      border-radius: 10px;

      .b,
      .b2{
         position: relative;
         left: 50px;
         top: 20px;
         font-size: large;
      }


      h2 {
         padding: 20px 30px;
      }

      b {
         padding: 10px;
      }

      hr {
         width: 380px;
      }


      .price {
         padding: 30px;

         .range {
            padding-left: 20px;
           
         }

         .input {
            display: flex;

            input {
               border-radius: 40px;
               padding: 10px;
               width: 150px;
            }
         }
      }

      .people {
            h3{padding-left: 60px; padding-top: 20px;}
         div {
            display: inline-block;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            padding: 60px;


            input {
               text-align: center;
               width: 83px;
               height: 30px;
               border-radius: 50px;
               border: 1px solid gray;
            }
         }
      }

      .radio-input{
         position: relative;
         left: 50px;
         top: 50px;

         div{
            display: flex;
            padding: 3px;
            font-size: large;
            color: rgb(91, 91, 91);
         }
      }


   }

}