@import "../Navigation/style.scss";

.nav-wrapper2 {
   background-image: url('../../assets/images/Rectangle1.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: darken;
   background-color: rgb(0, 0, 0, 0.3);
   width: 100%;
   height: 289px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 20px 40px;



   .menu {
      display: flex;
      justify-content: space-evenly;


      .nav-links {
         margin-left: 30%;

         a,
         button {
            @extend %link;
            text-decoration: none;
            cursor: pointer;

         }
      }
   }


   .travel-text {
      display: flex;
      flex-direction: column;


      position: absolute;
      top: 142px;
      left: 160px;
      width: 756px;
      height: 88px;
      display: flex;
      flex-direction: column;
      display: flex;
      color: snow;

      h2 {
         margin-bottom: 20px;
         font-size: 72px;
         font-weight: 700;
         font-family: 'Montserrat sans-serif';
      }
   }
}



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}





.blog-wrapper {
   background-color: rgb(224, 224, 224);
   width: 100%;
   height: 490vh;
   margin: 0 auto;


   .second-blog-container {
      position: relative;
      top: 100px;

      .cont2 {
         position: relative;



         .second-con {
            width: 900px;
            height: 330px;
            background-color: white;
            margin-left: 20px;
            border-radius: 10px;
            display: flex;
            position: relative;
            bottom: 920px;
            left: 550px;


            .texts {
               button {
                  @extend %info-btn;
                  position: relative;
                  left: 50px;
               }

               b {
                  font-size: 20px;
                  position: relative;
                  top: 15px;
                  left: 55px;
               }

               span {
                  position: relative;
                  top: 10px;
                  left: 55px;
                  color: rgb(162, 162, 0);
               }

               p {
                  padding: 50px;
                  padding-top: 50px;
                  font-size: 20px;
               }
            }
         }

      }

      .main-container {
         display: flex;
         position: relative;
         right: -150px;

         .first-con {
            width: 25%;
            height: 1000px;
            background-color: white;
            padding-right: 20%;
            position: relative;
            border-radius: 10px;

            .b,
            .b2{
               position: relative;
               left: 50px;
               top: 20px;
               font-size: large;
            }


            h2 {
               padding: 20px 30px;
            }

            b {
               padding: 10px;
            }

            hr {
               width: 380px;
            }


            .price {
               padding: 30px;

               .range {
                  padding-left: 20px;
                 
               }

               .input {
                  display: flex;

                  input {
                     border-radius: 40px;
                     padding: 10px;
                     width: 150px;
                  }
               }
            }

            .people {
                  h3{padding-left: 60px; padding-top: 20px;}
               div {
                  display: inline-block;
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  gap: 10px;
                  padding: 60px;


                  input {
                     text-align: center;
                     width: 83px;
                     height: 30px;
                     border-radius: 50px;
                     border: 1px solid gray;
                  }
               }
            }

            .radio-input{
               position: relative;
               left: 50px;
               top: 50px;

               div{
                  display: flex;
                  padding: 3px;
                  font-size: large;
                  color: rgb(91, 91, 91);
               }
            }


         }

      }


   }





   .blog-container {

      width: 80%;
      height: 35vh;
      background-color: white;
      border-radius: 10px;
      margin: 0 auto;

      .small-text {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         cursor: pointer;
         padding: 50px;

         div {
            width: 163px;
            height: 1px;
            background-color: black;
         }
      }

      .input-btn {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

         .container {

            display: flex;

            img {
               position: relative;
               right: 30px;
               top: 10px;
            }
         }

         button {
            @extend %info-btn;
            border-radius: 10px;
            margin-left: 5px;
            width: 25%;
         }

         input {
            border: none;
            border-radius: 5px;
            padding: 15px;
            background-color: rgb(221, 220, 220);
            font-size: 15px;
            font-weight: 700;
         }
      }
   }
}