%btn {
    padding: 10px 2px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
%link-style {
    text-decoration: none;
    padding: 10px 20px;
    color: snow;
    display: inline-block;
}