


.travel-blog-wrapper {
    width: 100%;
    .carousel-images {

        display: grid;
        position: absolute;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        top: 1171px;
        left: 160px;

        .first {
            background-image: url('../../assets/images/rect1.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            background-color: rgb(0, 0, 0, 0.1);
            width: 360px;
            height: 497px;

            .carousel-text {
                position: relative;
                top: 210px;
                color: snow;
                display: flex;
                flex-direction: column;
                padding-left: 10px;

                button {
                    @extend %info-btn
                }


                .yello-text {
                    color: yellow;
                    font-weight: bold;
                }
            }
        }

        .second {
            background-image: url('../../assets/images/rect2.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            background-color: rgb(0, 0, 0, 0.1);
            width: 360px;
            height: 497px;

            .carousel-text {
                position: relative;
                top: 210px;
                color: snow;
                padding-left: 10px;

                button {
                    @extend %info-btn
                }

                .yello-text {
                    color: yellow;
                    font-weight: bold;
                }
            }
        }

        .third {
            background-image: url('../../assets/images/rect3.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            background-color: rgb(0, 0, 0, 0.1);
            width: 360px;
            height: 497px;

            .carousel-text {
                position: relative;
                top: 210px;
                color: snow;
                padding-left: 10px;

                button {
                    @extend %info-btn
                }

                .yello-text {
                    color: yellow;
                    font-weight: bold;
                }
            }
        }

        .fourth {
            background-image: url('../../assets/images/rect4.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            background-color: rgb(0, 0, 0, 0.1);
            width: 360px;
            height: 497px;
            border-radius: 5px;

            .carousel-text {
                position: relative;
                top: 210px;
                color: snow;
                padding-left: 10px;

                button {
                    @extend %info-btn
                }

                .yello-text {
                    color: yellow;
                    font-weight: bold;
                }
            }

        }
    }

    .travel-text {
        position: absolute;
        top: 1052px;
        left: 160px;

        h2 {
            font-size: 35px;
        }
    }

    .link {
        position: absolute;
        top: 1052px;
        left: 1195px;
        color: black;
    }
}
