.gallery{
    position: relative;
    top: 400px;
    
    span{
        position: relative;
        bottom: 190px;
        left: 1200px;
        
    }
    h2{
        position: relative;
        bottom: 150px;
        left: 80px;
        font-size: 30px;
    }
}