@import '../../assets/styles/settings';

.contacts-form-wrapper {
    background-image: url('../../assets/images/emailImg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 668px;
    position: relative;
    top: 1100px;

    .footer-about{
        position: relative;
        top: 650px;
       
    }


    form {
        background-color: rbga(255, 0, 0, 0.5);
        backdrop-filter: blur(40px);
        opacity: 0.9;
        height: 668px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10%;
        width: 500px;


        button {
            @extend %info-btn;
            margin-top: 50px;
        }

        h3 {
            padding-top: 25%;
            padding-left: 50px;
            font-weight: bold;
            font-size: 30px;
            color: snow;
            font-family: Arial, Helvetica, sans-serif;
        }

        span {
            position: absolute;
            left: 12%;
            top: 30%;
            color: yellow;
        }


        .div {
            display: flex;
            flex-direction: column;
            padding-top: 20%;
        }

        .hr {
            border-bottom: solid 1px snow;
        }

        input {
            background-color: transparent;
            border-bottom: solid 1px snow;
            border: none;
            outline: none;
            color: blue;
            font-size: 15px;
            font-weight: bold;
            padding: 20px;

            &::placeholder {
                color: snow;
                font-weight: bold;
                font-size: 15px;
            }

            hr {
                margin-bottom: 20px;
            }
        }

        @media (max-width: $large-screen) {
            padding: 30px;
        }
        @media (max-width: $medium-screen) {
           
            img{
                height: 250px;
            }
            form{
                padding: 55px;
               
            }
        }
    }
}